@font-face {
  font-family: "iconfont"; /* Project id 5154335 */
  src: url('iconfont.woff2?t=1778590348956') format('woff2'),
       url('iconfont.woff?t=1778590348956') format('woff'),
       url('iconfont.ttf?t=1778590348956') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-weixin:before {
  content: "\e647";
}

.icon-dianhua:before {
  content: "\e65f";
}

.icon-bilibili-fill:before {
  content: "\ea95";
}

.icon-shezhichilun:before {
  content: "\e620";
}

.icon-gongxian:before {
  content: "\e658";
}

.icon-jiaoyu1:before {
  content: "\e662";
}

.icon-ruanjian-:before {
  content: "\e641";
}

.icon-jiyin:before {
  content: "\e62b";
}

.icon-home:before {
  content: "\e6af";
}

.icon-tuandui:before {
  content: "\e618";
}

.icon-cplus:before {
  content: "\e637";
}

.icon-zoulu-:before {
  content: "\e689";
}

.icon-huiyi:before {
  content: "\e883";
}

.icon-shehuituanti:before {
  content: "\e61e";
}

.icon-sheji:before {
  content: "\e65e";
}

.icon-wumoxing:before {
  content: "\ec33";
}

.icon-rizhi:before {
  content: "\e627";
}

.icon-yingjian:before {
  content: "\ec89";
}

.icon-jiaoyu:before {
  content: "\e661";
}

.icon-shehuishijian:before {
  content: "\e602";
}

.icon-anquan:before {
  content: "\e8ab";
}

.icon-model:before {
  content: "\e66e";
}

.icon-tuanduichengyuan:before {
  content: "\e624";
}

.icon-cooperation:before {
  content: "\e85d";
}

.icon-guishu:before {
  content: "\e69d";
}

.icon-shiyanjilu:before {
  content: "\e623";
}

.icon-jianjie:before {
  content: "\e61f";
}

.icon-shiyanjieguo:before {
  content: "\e7ba";
}

.icon-shiyan-L:before {
  content: "\e638";
}

.icon-shiyanzuguanli:before {
  content: "\e6c5";
}

.icon-xiangmu:before {
  content: "\e63d";
}

